{% extends "base.html" %}
{% from 'macros.html' import form_field %}
{% block content %}
<h1 class="mt-5">Forgot Your Password?</h1>

<h2>Enter email address you registered with:</h2>
<form class="form-signin" id="forgotPasswordForm" role="form" method="post" action="">
    {{ form.csrf_token }}
    {{ form_field(form.email, False) }}
    <button type="submit">Reset Password!</button>
</form>
<br/>
<ul>
  <li>Back to <a href="{{ url_for('user.login') }}">login</a></li>
  <li>Need to <a href="{{ url_for('user.register') }}">register</a>?</li>
</ul>
{% endblock %}