{% extends "base.html" %}
{% from 'macros.html' import form_field %}

{% block page_title %}Sign in{% endblock %}

{% block content %}
<h1 class="mt-5">Please sign in:</h1>
<form class="form-signin" id="loginForm" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form_field(form.username, False) }}
  {{ form_field(form.password, False) }}
  <button type="submit">Sign in!</button>
</form>
<br/>
<ul>
  <li>Need to <a href="{{ url_for('user.register') }}">Register</a>?</li>
  <li><a href="{{ url_for('user.forgot') }}">Forgot</a> your password?</li>
</ul>
{% endblock %}