{% extends "base.html" %}
{% from 'macros.html' import form_field %}

{% block page_title %}Profile{% endblock %}

{% block content %}
<h1 class="mt-5">Your Profile</h1>

{% if current_user.is_authenticated %}
  <p>Email: <strong>{{current_user.email}}</strong></p>
{% endif %}

<h2>Change Password:</h2>
<form class="form-reset" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form_field(form.password, False) }}
  {{ form_field(form.confirm, False) }}
  <button type="submit">Update Password!</button>
</form>
{% endblock %}