{% extends "base.html" %}

{% block content %}
{% filter markdown %}
# About

This site was created by [Christopher Arndt](https://github.com/SpotlightKid) using
[Flask](https://flask.pocoo.org), the
[cookiecutter-flask](https://github.com/sloria/cookiecutter-flask) template, the
[libretto theme](https://github.com/abrahamvarricatt/libretto-theme-for-nikola) from
[Nikola](https://getnikola.com/), and too many Flask extensions to list here.

The source code for this site is available on
[GitHub](https://github.com/SpotlightKid/fmchallenge-webapp).
{% endfilter %}
{% endblock %}

