{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">Publish Competition Entry</h1>
<p>Are you sure you want to publish your competition entry?</p>

<p>After publishing your entry,</p>

<ul>
  <li>you will not be able to update it any more;</li>
  <li>it will be viewable by everybody (after approval by the organizers);</li>
  <li>registered users can vote on it (when the submission deadline has passed).</li>
</ul>

<p>
  <a class="btn btn-secondary" href="{{ url_for('competition.publish_entry', confirm=1) }}">Publish!</a>
  &nbsp;
  <a class="btn btn-danger" href="{{ url_for('competition.view_entry') }}">Cancel</a>
</p>
{% endblock %}
