{% extends "base.html" %}
{% from 'macros.html' import checkbox_field, form_field %}

{% block js_bottom %}
<!-- Flask-PageDown Markdown in-line editor support -->
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
<h1 class="mt-5">{{ meta_title }}</h1>
<form class="form-submit-entry" id="submitEntryForm" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form_field(form.title) }}
  {{ form_field(form.artist) }}
  {{ form_field(form.url) }}
  {{ form_field(form.description) }}
  {{ form_field(form.production_details) }}
  {% if form.errors.form %}
  <div class="alert alert-warning">
  <p>There were some issues with your submission:</p>
  <ul>
    {% for error in form.errors.form %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  </div>
  <br/>
  {% endif %}
  <button type="submit">{{ submit_label }}</button>&nbsp;
  <a class="btn btn-secondary" href="{{ url_for('competition.manage_entry') }}">Cancel</a>
</form>
<br/>
<p class="alert alert-info"><i class="fas fa-info"></i>&nbsp;In the next
  step, you can review and submit your draft or leave it unpublished, and then update and submit
  it later.</p>
{% endblock %}
