{% extends "base.html" %}

{% block page_title %}Voting{% endblock %}

{% block content %}
<h1>Voting</h1>

{% if in_voting_period %}
  {% if current_user.is_authenticated %}
    {% if user_votes %}
    <p>Your vote was already registered. You can update your vote ontil the end of the voting
    period on <strong>{{ voting_end.strftime('%Y-%m-%d %H:%M:%S UTC') }}:</strong></p>

    <p style="text-align: center;"><a class="btn btn-primary"
      href="{{ url_for('competition.submit_vote') }}">Update Vote!</a></p>

    <p>Here is your vote:</p>
    <p>
      {% for vote in user_votes %}
        <strong>{{ vote.points }} points:</strong>
        <a href="{{ url_for('competition.view_entry', entry=vote.entry.id) }}"
          >“{{ vote.entry.title }}”</a> by <em>{{ vote.entry.artist }}</em><br/>
      {% endfor %}
    </p>
    {% else %}
    <p>To cast your vote in the competition, please use the voting form:</p>

    <p style="text-align: center;"><a class="btn btn-primary"
      href="{{ url_for('competition.submit_vote') }}">Vote!</a></p>
    {% endif %}
  {% else %}
  {% filter markdown %}
  To cast your vote in the competition, you must first
  [register an account]({{ url_for('user.register') }}) on this site and then come back to this
  page.

  Already have an account? [Sign in]({{ url_for('user.login') }}).
  {% endfilter %}
  {% endif %}

{% else %}
  {% filter markdown %}
  The voting period runs from when the submission deadline for the competition has passed on
  **{{ submission_end.strftime('%Y-%m-%d %H:%M:%S UTC') }}** for **ten days** until
  **{{ voting_end.strftime('%Y-%m-%d %H:%M:%S UTC') }}**.

  {% if in_submission_period %}
  In the meanwhile, have a listen to the entries submitted so far. And while you're here: have you
  considered [entering the competition](/submit/)?
  {% endif %}
  {% endfilter %}
{% endif %}
{% filter markdown %}

## Competition Entries

The following entries have been submitted into the
competition{% if in_submission_period %}so far{% endif %}.
The tracks are listed in random order by default, but you can choose to display the list sorted by
title, artist or date (published) as well.

*Enjoy listening!*
{% endfilter %}

{% if not entries %}
<p>No competition entries published yet.</p>
{% else %}
<div class="track-list">
  <p class="sort-links">
    Sort by:
    <a href="{{ url_for('competition.list_entries', order='title', desc=1 if (order == 'title' and not desc) else 0) }}"
      >Title{% if order == 'title' and not desc %} (desc){% endif %}</a>&nbsp;|&nbsp;
    <a href="{{ url_for('competition.list_entries', order='artist', desc=1 if (order == 'artist' and not desc) else 0) }}"
      >Artist{% if order == 'artist' and not desc %} (desc){% endif %}</a>&nbsp;|&nbsp;
    <a href="{{ url_for('competition.list_entries', order='published_on', desc=1 if (order == 'published_on' and not desc) else 0) }}"
      >Date{% if order == 'published_on' and not desc %} (desc){% endif %}</a>
  </p>

  {% for entry in entries %}
  <div class="track-list-entry">
    <p class="track-buttons">
      <a class="btn btn-sm btn-primary"
        href="{{ url_for('competition.view_entry', entry=entry.id) }}">View details</a><br/>
      <a class="btn btn-sm btn-primary" href="{{ entry.url }}" target="_new"
        title="Visit track on archive.org">Download</a>
    </p>

    <p class="track-title">{{ entry.title }}</p>

    <p class="track-artist">by <span class="artist">{{ entry.artist }}</span></p>

    <p class="track-submit-info">
      Submitted by <span class="username">{{ entry.user.username }}</span> on
      <span class="published">{{ entry.published_on.strftime('%Y-%m-%d %H:%M UTC') }}</span>
    </p>

    <hr/>

    <div class="track-player">
      {{ archiveorg_player(entry.url, width='100%', compat_info=False) | safe }}
    </div>

{#

    <div class="track-description">
      {{ entry.description | markdown }}
    </div>
#}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
